@import url("assets/fonts/font.css");
html {
    box-sizing: border-box;
    font-size: 16px;
}

body {
    font-family: "space-mono", sans-serif;
    background-color: var(--background-color);
    color: var(--text-color) !important;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}


/* Colors */

:root {
    /* Dark mode */
    --dark-background: #000000;
    --dark-text: #fff;
    --dark-grey: #8f9ba8;
    /* --dark-grey: #A9A9A9; */
    /* Light Mode */
    --light-background: #fff;
    --light-text: #000;
    --light-grey: #303438;
    /* --light-grey: #A9A9A9; */
    /* --light-grey: #767676; */
    /* Default */
    --background-color: #fff;
    --text-color: #000;
    --text-grey: #a9a9a9;
}

::selection {
    color: var(--background-color);
    background: var(--text-color);
}

::-moz-selection {
    color: var(--background-color);
    background: var(--text-color);
}

@media (prefers-color-scheme: dark) {
    :root {
        --text-color: #fff;
        --background-color: #000;
        --text-grey: var(--dark-grey);
    }
}

.darkMode {
    --text-color: var(--dark-text);
    --background-color: var(--dark-background);
    --text-grey: var(--dark-grey);
}

.lightMode {
    --text-color: var(--light-text);
    --background-color: var(--light-background);
    --text-grey: var(--light-grey);
}


/* Content */

.container {
    padding: 0px 172px;
}

.header {
    margin-top: 64px;
    padding: 0px 172px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copy {
    font-size: 20px;
    color: var(--text-color);
}

.name {
    font-family: "Noto Sans Javanese";
    font-size: 18px;
    opacity: 1;
    transition: opacity 0.4s;
    color: var(--text-color);
}

.name:hover {
    opacity: 0.5;
    opacity: 0.4s;
}

.toggle {
    height: 16px;
    width: 16px;
    border-radius: 8px;
    border: 2px solid var(--text-color);
    cursor: pointer;
    transition: opacity 0.4s;
}

.toggle:hover {
    opacity: 0.5;
    opacity: 0.4s;
}

.content {
    max-width: 930px;
    display: flex;
    justify-content: space-between;
}

.heading {
    font-size: 48px;
    font-weight: normal;
    color: var(--text-color);
    margin-top: 96px;
    margin-bottom: 128px;
}

.sub-heading {
    color: var(--text-grey);
    font-size: 20px;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    margin-bottom: 24px;
}

.focus,
.projects {
    display: flex;
    flex-direction: column;
}

a,
.social-link,
.email {
    text-decoration: none;
    color: var(--text-color);
}

.social-link:visited,
.email:visited {
    text-decoration: none;
    color: var(--text-grey);
    transition: color 0.4s;
}

.social-link:hover,
.email:hover {
    color: var(--text-color);
    transition: color 0.4s;
}

.footer {
    padding: 0px 172px;
    margin-top: auto;
    margin-bottom: 64px;
    display: flex;
    justify-content: space-between;
}

.socials {
    display: flex;
}

.social-link {
    margin-right: 32px;
    font-size: 16px;
    color: var(--text-grey);
}

@media screen and (max-width: 1024px) {
    .container,
    .header,
    .footer {
        padding: 0 86px;
    }
}

@media screen and (max-width: 675px) {
    .container,
    .header,
    .footer {
        padding: 0px 24px;
    }
    .heading {
        font-size: 32px;
        margin: 64px 0;
    }
    .sub-heading {
        margin-bottom: 12px;
    }
    .content {
        flex-direction: column;
        gap: 36px;
    }
    .footer {
        margin: 32px 0;
        gap: 24px;
        flex-direction: column;
    }
    .social-link:hover,
    .email:hover {
        text-decoration: none;
    }
}